.panel {
    flex-grow: 1;
    position: absolute;
    top: 0;
    right: 0;
    width: 900px;
    height: 100%;
    padding: 48px;
    gap: 16px;
}

.button {
    flex-grow: 1;
    justify-content: center;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}
